/* App component styles */
:host {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: visible;
  scroll-behavior: smooth;
}

:host > app-header {
  margin-top: 0;
}

:host > app-footer {
  margin-top: auto;
}
