body,
html,
:host {
  scroll-behavior: smooth;
}

/* App component styles */
:host {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: visible;
}

:host > app-header {
  margin-top: 0;
}

:host > app-footer {
  margin-top: auto;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
