/* Decoration to create a line above an element */
.decoration-line-up {
  --line-length: 70px;

  position: relative;
  margin-top: var(--line-length);
}

.decoration-line-up::before {
  content: '';
  position: absolute;
  left: calc(50% - 1px);
  top: 0;
  transform: translateY(-100%);
  display: block;
  width: 2px;
  height: var(--line-length);
  border-left: 2px solid;
}

.decoration-line-up::hover:not(::before) {
  background-color: var(--sage-40);
  border-color: var(--sage-40);
}

/* Swiper Pagination Styling */
swiper-container::part(container) {
  padding-bottom: 3.5rem;
}

swiper-container::part(pagination) {
  bottom: 1rem;
}

swiper-container::part(bullet) {
  background-color: #899064;
  opacity: 0.4;
}

swiper-container::part(bullet-active) {
  background-color: #cfbb9a;
  opacity: 1;
}
