<main class="w-full min-h-full bg-neutral-dark">
  <!-- Hero Section -->
  <section class="hero flex flex-col md:flex-row items-center justify-center w-full mx-auto bg-neutral-dark text-white">
    <img src="assets/images/hero-image.webp" alt="Blessing Lynnwood Hero Image"
      class="md:basis-1/2 w-full md:w-1/2 h-auto object-cover" />
    <div class="md:basis-1/2 -mt-24 md:mt-auto md:mb-auto md:pt-8 md:pb-6 px-8 text-right flex flex-col items-start">
      <h1 class="text-5xl font-bold text-white my-8 md:-ml-12 xl:-ml-22 2xl:text-9xl md:my-auto">
        {{ 'hero.title' | translate }}
      </h1>
      <div class="mb-2 md:w-1/2 2xl:text-2xl xl:-ml-10">
        <p>{{ 'hero.subtitle' | translate }}</p>
      </div>
      <a href="#booking"
        class="self-end md:self-auto decoration-line-up block my-4 md:mt-6 mb-12 md:mb-auto rounded-full border-2 border-sage text-sage px-6 py-2.5 text-button font-semibold transition-colors 2xl:text-2xl 2xl:py-4 2xl:px-8 hover:bg-sage-20">
        {{ 'hero.bookNow' | translate }}
      </a>
    </div>
  </section>

  <!-- About Us Section -->
  <section
    class="about-us shadow-elevation-outer relative bg-cover bg-center bg-no-repeat text-white min-h-screen flex justify-center items-center overflow-clip">
    <img src="assets/images/backdrop-grass.webp" alt="Image of a beautiful grassy hedge."
      class="absolute inset-0 min-w-full min-h-full object-cover z-1" />
    <div class="bg-black/70 absolute inset-0 w-full h-full object-cover z-1"></div>
    <div class="shadow-elevation bg-sage-transparent rounded-2xl m-auto p-12 text-center z-2">
      <h2 class="text-5xl font-thin mb-8">{{ 'about.title' | translate }}</h2>
      @for (paragraph of 'about.description' | translate; track $index) {
      <p class="text-xl max-w-2xl xl:max-w-4xl mb-6 xl:my-12">{{ paragraph }}</p>
      }
      <a routerLink="/your-stay"
        class="rounded-3xl bg-sage-40 hover:bg-sage-60 text-white transition-colors px-6 py-2 inline-block">{{
        'about.link' | translate }}
        <img class="inline-block fill-white" src="assets/images/icons/location.svg" /></a>
    </div>
  </section>

  <!--- Gallery Section -->
  <section id="gallery" class="w-full py-32 px-4 md:px-20 flex flex-col gap-10 overflow-hidden bg-blessing-gradient">
    <!-- Header -->
    <div class="flex items-end gap-3 max-w-7xl mr-auto w-full mb-14">
      <h3 class="text-heading-3 text-white flex-1">{{ 'gallery.title' | translate }}</h3>
      <div class="border-b-2 border-[#CFBB9A33] h-2 basis-2/3 grow shrink-0"></div>
      <h2 class="text-heading-2-accent text-white flex-1">{{ 'gallery.subtitle' | translate }}</h2>
    </div>
    <app-gallery-carousel [slides]="carouselImages"></app-gallery-carousel>
  </section>

  <!-- Amenities Section -->
  <section class="amenities w-full py-32 px-4 md:px-20">
    <div class="flex justify-evenly flex-wrap gap-5 xl:max-w-7xl mx-auto">
      @for (amenity of amenities; track $index) {
      <app-amenity class="flex-1 basis-1/2 md:basis-1/3 xl:basis-1/4" [icon]="amenity.icon" [title]="amenity.title"
        [description]="amenity.description"></app-amenity>
      }
    </div>
  </section>

  <!-- Availability Section -->
  <section id="booking" class="w-full bg-neutral-dark py-20 px-6 md:px-16">
    <div class="mx-auto flex w-full max-w-6xl flex-col items-stretch gap-14 lg:grid lg:grid-cols-2">
      <div class="order-2 lg:order-1">
        <app-availability></app-availability>
      </div>
      <div class="overflow-hidden rounded-lg shadow-elevation order-1 lg:order-2">
        <img class="object-contain" src="assets/images/availability.webp" alt="Availability Image" />
      </div>
    </div>
  </section>

  <!-- Reviews Section -->
  <section class="w-full bg-neutral-dark px-6 md:px-20 py-20">
    <div class="flex flex-col items-center gap-10 w-full">
      <h2 class="text-heading-3 text-white text-center w-full mb-4">
        {{ 'reviews.title' | translate }}
      </h2>

      <swiper-container class="w-full xl:max-w-7xl" slides-per-view="1" space-between="24" centered-slides="true"
        pagination="true" [breakpoints]="{
          '768': { slidesPerView: 2, centeredSlides: false },
          '1024': { slidesPerView: 3, centeredSlides: false }
        }">
        @for (review of reviews; track review.author) {
        <swiper-slide>
          <div class="bg-white rounded-lg p-6 flex flex-col gap-6 min-w-60 h-full">
            <!-- Star Rating -->
            <div class="flex gap-1">
              @for (star of [1,2,3,4,5]; track star) {
              <svg class="w-5 h-5" [class.text-tan-60]="star <= review.rating"
                [class.text-gray-300]="star > review.rating" fill="currentColor" viewBox="0 0 20 20">
                <path
                  d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.286 3.957a1 1 0 00.95.69h4.162c.969 0 1.371 1.24.588 1.81l-3.37 2.448a1 1 0 00-.364 1.118l1.287 3.957c.3.921-.755 1.688-1.54 1.118l-3.37-2.448a1 1 0 00-1.175 0l-3.37 2.448c-.784.57-1.838-.197-1.54-1.118l1.287-3.957a1 1 0 00-.364-1.118L2.05 9.384c-.783-.57-.38-1.81.588-1.81h4.162a1 1 0 00.95-.69l1.3-3.957z" />
              </svg>
              }
            </div>

            <!-- Review Body -->
            <div class="flex flex-col gap-1">
              <h3 class="text-2xl font-semibold text-primary-60 tracking-tight">
                {{ review.title }}
              </h3>
              <p class="text-base text-primary-60 leading-relaxed">{{ review.body }}</p>
            </div>

            <!-- Author -->
            <div class="flex flex-col gap-0.5 mt-auto">
              <span class="font-semibold text-sage-60">{{ review.author }}</span>
              <span class="text-sage-60">{{ review.date }}</span>
            </div>
          </div>
        </swiper-slide>
        }
      </swiper-container>
    </div>
  </section>

  <!-- Nearby Attractions Section -->
  <section class="w-full bg-white px-6 md:px-20 pt-10 pb-20">
    <div class="flex flex-col items-center gap-6 w-full">
      <h2 class="text-heading-2 text-primary-60 text-center w-full mb-4">
        {{ 'nearby.title' | translate }}
      </h2>

      <swiper-container class="w-full" slides-per-view="1" space-between="24" pagination="true" autoplay [breakpoints]="{
          '480': { slidesPerView: 2 },
          '768': { slidesPerView: 3 },
          '1024': { slidesPerView: 4 },
          '1440': { slidesPerView: 6},
          '1921': { slidesPerView: 8}
        }">
        @for (place of nearbyPlaces; track place.nameKey) {
        <swiper-slide>
          <div class="rounded-2xl border border-gray-200 shadow-elevation overflow-hidden flex flex-col">
            <div class="h-[180px] flex items-center justify-center" [class]="place.bgColor ?? 'bg-white'">
              <img [src]="place.image" [alt]="place.nameKey | translate" class="min-h-full min-w-full object-cover" />
            </div>
            <div class="bg-tan-60 px-2.5 py-4 text-center">
              <span class="text-white text-xs lg:text-md">{{ place.nameKey | translate }}</span>
            </div>
          </div>
        </swiper-slide>
        }
      </swiper-container>
    </div>
  </section>
</main>